// principal titles propieties
@import "variables";
@import "../base/typography";
@import "../components/buttons";

@mixin principal-text {
   font-family: 'Playfair Display', ;
   font-weight: bold;
   font-style: italic;
   text-align: center;
   color: $whiteColor;
   font-size: $xx-large;
}

@mixin button-bs {
   background: $groundbtn;
   color: $whiteColor;
   border-radius: $radiusbtn;
   border-color: $borderbtn;
}

@mixin naomi {
   font-family: 'Playfair Display', ;
   font-weight: bold;
   font-style: italic;
   color: $navfotColor;
}

@mixin border-page-a {
   border-bottom-left-radius: 30px;
   border-top-left-radius: 30px;
}

@mixin border-page-s {
   border-bottom-right-radius: 30px;
   border-top-right-radius: 30px;
}


