// Colors Scheme
$primaryColor: #E6E7E7;
$whiteColor: #fff;
$LightgrayColor: #d1d1d1;

$fuzzyColor: #e56353;
$ruddyColor: #d76c69;
$spanishColor: #ecbcba;

$navfotColor: #121619;
$raisinColor: #222323;
$nickelColor: #6c6e70;
// ----------------------------------------

