body {
  font-family: "Roboto";
}

header nav {
  background: #121619;
}
header nav img {
  width: 60px;
  height: 30px;
}
header nav .active > .nav-link {
  color: #d76c69 !important;
}
header nav .nav-link {
  color: #fff !important;
}

#hero .hero-img {
  background-image: url(../assets/images/post-image.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
}
#hero .hero-img .wrap-title {
  position: relative;
  top: 27vh;
}
#hero .hero-img .wrap-title h1 {
  font-family: "Playfair Display";
  font-weight: bold;
  font-style: italic;
  text-align: center;
  color: #fff;
  font-size: 70px;
}
@media (max-width: 576px) {
  #hero .hero-img .wrap-title h1 {
    font-size: 40px;
  }
}
#hero .hero-img .wrap-icon {
  color: #fff;
  font-size: 25px;
  position: relative;
  top: 40vh;
}
@media (max-width: 576px) {
  #hero .hero-img .wrap-icon {
    top: 35vh;
  }
}

#content {
  line-height: 40px;
  color: #6c6e70;
}
#content p span {
  color: #e56353;
}
#content h6 {
  font-family: "Playfair Display";
}
#content .btn-bs {
  background: #6c6e70;
  color: #fff;
  border-radius: 100px;
  border-color: #d1d1d1;
  margin-right: 15px;
}
#content .btn-bs:hover {
  background: #E6E7E7;
}
#content hr {
  border-top: 1px solid #E6E7E7;
}
@media (max-width: 576px) {
  #content p span {
    color: #6c6e70;
  }
  #content .btn-blog {
    text-align: center;
  }
  #content .btn-bs {
    font-size: small;
  }
}

#coments {
  color: #6c6e70;
}
#coments .img-naomi img {
  width: 70%;
}
@media (max-width: 576px) {
  #coments .img-naomi img {
    width: 50%;
  }
}
#coments .email-naomi h5 {
  font-family: "Playfair Display";
  font-weight: bold;
  font-style: italic;
  color: #121619;
}
#coments .email-naomi span {
  color: #d76c69;
}
@media (max-width: 576px) {
  #coments .email-naomi {
    text-align: center;
  }
  #coments .email-naomi h5 {
    margin-top: 20px;
    margin-bottom: 10px;
  }
}

#sec-page {
  background: #E6E7E7;
}
#sec-page nav {
  position: relative;
  top: 8px;
}
#sec-page nav .page-item.active .page-link {
  background-color: #6c6e70;
  border-color: #d1d1d1;
  color: #fff;
}
#sec-page nav .page-link {
  color: #222323;
}
#sec-page nav .page-a {
  border-bottom-left-radius: 30px;
  border-top-left-radius: 30px;
  color: #d1d1d1;
}
#sec-page nav .page-s {
  border-bottom-right-radius: 30px;
  border-top-right-radius: 30px;
}

footer {
  background: #121619;
}

footer img {
  width: 100px;
  height: 45px;
}

/*# sourceMappingURL=styles.css.map */
