@import "../abstracts/variables";
@import '../base/typography';


body {
   font-family: $bodyfont;
}

// navbar
header nav {
   background: $navfotColor;
   img {
      width: 60px;
      height: 30px;
   }
   .active>.nav-link {
      color: $ruddyColor !important;
   }
   .nav-link {
      color: $whiteColor !important;
   }
}
