// typography sizes
$xx-large: 70px;
$x-large: 40px;
$large: 18px;
$medium: 16px;
$small: 12px;
// -----------------------------------

// typography styles
$bodyfont:'Roboto';
$titlefont: 'Playfair Display';
// ------------------------------------
 
// interline of content
$interfont: 40px;
