@import '../abstracts/variables';
@import '../abstracts/mixins';
@import '../base/typography';
@import '../components/buttons';

// especific styles blog page
#hero {
   .hero-img {
     background-image: url(../assets/images/post-image.jpg);
     background-size: cover;
     background-repeat: no-repeat;
     background-position: center;
     height: 100vh;
     
     .wrap-title {
        position: relative;
        top: 27vh;
        h1 {
         @include principal-text;
        }
        @media (max-width: 576px) {
            h1 {
               font-size: $x-large;
            }
        }
     }
     .wrap-icon {
         color: $whiteColor;
         font-size: 25px;
         position: relative;
         top: 40vh;
         @media (max-width: 576px) {
            top: 35vh;
         }
     }
   }
}

#content {
   line-height: $interfont;
   color: $nickelColor;

   p span {
      color: $fuzzyColor;
   }

   h6 {
      font-family: $titlefont;
   }

   .btn-bs {
      @include button-bs;
      margin-right: 15px;
   }

   .btn-bs:hover {
      background: $hoverbtn;
   }

   hr {
      border-top: 1px solid #E6E7E7;
   }

   @media (max-width: 576px) {
      p span {
         color: $nickelColor;
      }
      .btn-blog {
         text-align: center;
      }
      .btn-bs {
         font-size: $smallbtn;
      }
   }
}

#coments {
   color: $nickelColor;
   .img-naomi {
      img {
         width: 70%;
      }
      @media (max-width: 576px) {
         img {
            width: 50%;
         }
      }
   }
   .email-naomi {
      h5 {
         @include naomi;
      }
      span {
         color: $ruddyColor;
      }
      @media (max-width: 576px) {
         text-align: center;
         h5 {
            margin-top: 20px;
            margin-bottom: 10px;
         }
      }
   }

}

#sec-page {
   background: $primaryColor;
   nav {
      position: relative;
      top: 8px;
      .page-item.active .page-link {
         background-color: $nickelColor;
         border-color: $LightgrayColor;
         color: $whiteColor;
      }
      .page-link {
         color: $raisinColor;
      }
      .page-a {
         @include border-page-a;
         color: $LightgrayColor;
      }
      .page-s {
         @include border-page-s;
      }
   }
}




